{% extends 'base.html.twig' %}

{% block body %}
<h2>Dashboard</h2>
<p>
    <a href="{{url('admin.team.index')}}" class="btn btn-primary">National Team</a>
</p>
<p>
    <a href="{{url('admin.player.index')}}" class="btn btn-primary">Players</a>
</p>
{% endblock %}